<!-- views/dataHistory.ejs -->
<!doctype html>
<html>
<head>
    <title>Timelog - History</title>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="//cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/buttons/1.4.2/css/buttons.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <!--<link rel="stylesheet" href="//unpkg.com/flatpickr/dist/flatpickr.min.css">-->
<!--    <link rel="stylesheet" href="../css/Title.css" type="text/css">-->
<!--    <script src="//maps.googleapis.com/maps/api/js?key=AIzaSyBX94wEDdQ52lCDhKAhcfR-flIw1NyLTMA"></script>-->
    <script src="../3rdPartyLibs/jquery-3.3.1.min.js"></script>
    <script src="//cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script src="//cdn.datatables.net/buttons/1.4.2/js/dataTables.buttons.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="//cdn.jsdelivr.net/npm/flatpickr"></script>

    <!--<script src="//unpkg.com/flatpickr"></script>-->

    <style>
        body { padding-bottom: 80px; word-wrap:break-word; }

        .floatingBox3{
            display: inline-table;
            width:450px;
        }
        .banner{
            position:relative;
            width: 100%;
        }
        .floatingBox{
            display: inline;
        }
        .floating-Box {
            display: inline-block;
            /*width:350px;*/
        }
        table {
            overflow-x: auto;
            width: 100%;
            display: block;
            margin-bottom: 20px;
            border-collapse: collapse;
        }

        table,
        th,
        td {
            border: 1px solid #cdcdcd;
            text-align: center;
        }

        table th,
        table td {
            padding: 10px;
            text-align: left;
        }

        table::-webkit-scrollbar-thumb {
            border-radius: 2px;
            background-color: rgba(0, 0, 0, .5);
            -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .5);
        }

        table::-webkit-scrollbar {
            -webkit-appearance: none;
            height: 7px;
        }
        .navul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            /*overflow: hidden;*/
        }
        .navbutton1 {
            width: 110px;
            font-size: 16px;
            height: 80px;
            margin: 0;
            border-radius: 0px 0 0;
            background-color: #000000;
            border: 0 solid;
            color: #ffffff;
            -webkit-transition-duration: 0.4s;
            transition-duration: 0.4s;
        }

        .navbutton1:hover {
            background-color: #333;
            color: white;
        }

        .dropdown {
            position: relative;
            display: inline-block;
        }
        .button1 {
            height: 40px;
            width: 110px;
            float: right;
            border-radius: 5px;
            -webkit-transition-duration: 0.4s;
            transition-duration: 0.4s;
            cursor: pointer;
            background-color: white;
            color: #337ab7;
            border: 1px solid #337ab7;
        }

        .button1:hover {
            background-color: #337ab7;
            color: white;
        }

        .button2 {
            height: 40px;
            width: 220px;
            border-radius: 2px;
            -webkit-transition-duration: 0.4s;
            transition-duration: 0.4s;
            cursor: pointer;
            background-color: white;
            color: #6a6a6a;
            border: 1px solid #6a6a6a;
        }

        .button2:hover {
            background-color: #c8c8c8;
            color: white;
        }

        .dropbutton {
            float: right;
            width: 150px;
            height: 80px;
            padding: 16px;
            color: white;
            background-color: #337ab7;
            border: none;
            cursor: pointer;
            font-size: 16px;
            -webkit-transition-duration: 0.4s;
            transition-duration: 0.4s;
        }
        .dropbutton:hover, .dropbutton:focus {
            background-color: #2b6699;
        }
        .dropdown-content {
            display: none;
            background-color: #f1f1f1;
            min-width: 160px;
            overflow: auto;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            right: 0;
            z-index: 1;
        }
        .dropdown-content a {
            color: black;
            padding: 20px;
            text-decoration: none;
            display: block;
        }
        .dropdown a:hover {
            background-color: #ddd;
        }
        .show {
            display: block;
        }
    </style>
</head>
<div class="navul" style="height:80px;background:#000000;">
    <a class="navul" style="background:#000000;" href="http://aworldbridge.com">
        <img class="banner" src="/images/NewWBBanner.jpg" style="width:510px;height:76px;"/>
    </a>
<!--    <a href="/homepageLI" style="width:110px;">-->
<!--        <button class="navbutton1"> Homepage </button>-->
<!--    </a>-->
    <a href="/addStation" style="width:110px;">
        <button class="navbutton1" style="width: 160px"> Add Station </button>
    </a>
<!--    <a href="/newRequest" id= "Request" style="width:110px;">-->
<!--        <button class="navbutton1" style="width: 140px"> New Request </button>-->
<!--    </a>-->
<!--    <a href="/rejected" style="width:110px;">-->
<!--        <button class="navbutton1" style="width: 160px"> Rejected Requests </button>-->
<!--    </a>-->

    <div class="dropdown" style="height: 80px; width: 200px; float: right; margin: 0;">
        <button class="dropbutton" id="Username">
            <%= firstName%>
            <span class="caret"></span>
        </button>
        <div id="userMenuAdmin" class="dropdown-content">
            <a href="/userProfile"> User Profile </a>
            <a href="/userManagement"> User Management </a>
            <a href="/signout"> Sign Out </a>
        </div>
        <div id="userMenuRegular" class="dropdown-content">
            <a href="/userProfile"> User Profile </a>
            <a href="/signout"> Sign Out </a>
        </div>
    </div>
</div>
<body ononline="onFunction()" onoffline="offFunction()">
<div class="container">
    <div class="page-header text-center">
        <h1><span class="fa fa-check-square-o"></span><strong> Station Log - Station List </strong></h1>
        <h4><span class="fa fa-user"></span>&nbsp;<strong>Account Name</strong>: <%= user.username %></h4>
    </div>
</div>
<br>
    <div class="container" style="width: 900px;">
        <div class="floating-Box clearForm" id="adminSearch" style="width: 350px; display: none;">
            <h4 class="floatingBox" style="width: 220px;"><strong>Search User Name:&nbsp;</strong></h4>
            <div class="name" style="width: 375px;">
                <h5 class="floating-Box">First Name:</h5>
                <input class="floating-Box" id="firstName" type="text" name="username" style="background: WhiteSmoke;
    width: 275px;
    height: 40px;
    padding-left: 10px;
    margin: 4px 0px;
    border-radius: 5px;
    border: 1px solid #c8c8c8;" value="" onchange="showFilter()" >
            </div>
        </div>
        <br>
        <div class="center" style="width: 850px;
    padding: 0px;
    height: 40px;">
            <button id="showButton" class="btn btn-primary btn-sm button" type="button" style="height: 40px;
    width: 110px; float: left; margin-right: 5px;">Refresh Table</button>
        </div>
    <br>
    <div class="center">
	    <h4 id="subtitles"><strong>Station list:</strong></h4>

        <div id="dvData">
            <table id="dataDisplay">
                <thead>
                <tr id="theadRow">
                </tr>
                </thead>
                <tbody>
                </tbody>
            </table>

            <br>
            <button id="buttontwo" class="button2">Export above rows to .CSV File</button>

            <br><br>
            <button id = "editButton" style="color: gray" disabled> Edit Row </button>
        </div>
    </div>
</div>
<script type='text/javascript'>
    $.ajax({
        url: '/getcolumnstwo',
        method: 'get',
        success: function (response) {
            var head = document.getElementById("theadRow");
            var columns = response;
            for (var i = 0; i < columns.length; i++) {
                console.log(columns[i]);
                var column = document.createElement("th");
                column.textContent = columns[i];
                head.appendChild(column);
            }
            let table = $("#dataDisplay").DataTable();
            // let trapTable = $("#trapDisplay").DataTable();
            let UserRole = "<%= user.userrole %>";
            let DropMenu;
            let rowSelected = [];
            let transactionID = [];
            let transactionpicturename = [];
            let LayerNameStr = [];
            // let layer0continent;

            $(document).ready(function(){
                $(function() {
                    table.clear();
                    table.draw();
                    // trapTable.clear();
                    // trapTable.draw();
                    //queryAndDisplay();
                    showStuff();
                    //"statusDel=" + "Active"

                    flatpickr(".date", {
                        dateFormat: "Y-m-d",
                        time_24hr: true
                    });

                    if (UserRole === "Regular") {
                        //document.getElementById("deleteButton").style.display = "none";
                        //document.getElementById("admin-edit").style.display = "none";
                        //document.getElementById("admin-name-search").style.display = "none";
                        //document.getElementById("usernameLog").style.display = "none";
                        //document.getElementById("admin-time-change").style.display = "none";
                        //document.getElementById("hours").style.display = "none";
                        //document.getElementById("minutes").style.display = "none";
                    }

                    if (UserRole !== "Regular") {
                        //document.getElementById('searchname').style.display = "none"; //disables username search for regular members
                        //queryStr = "Current_Status=Pending&UID=" + username;
                        //document.getElementById("adminSearch").style.display = 'initial';
                        //document.getElementById("admin-edit").style.display = "initial";
                        //document.getElementById("admin-name-search").style.display = "initial";
                        //document.getElementById("usernameLog").style.display = "initial";
                        //document.getElementById("admin-time-change").style.display = "block";
                        //document.getElementById("hours").style.display = "block";
                        //document.getElementById("minutes").style.display = "block";
                        document.getElementById("showAll").disabled = false;
                        document.getElementById("showAll").hidden = false;
                    }
                });

                $('#dataDisplay tbody').on('click', 'tr', function () {
                    thArray = [];
                    transactionID = [];

                    $(this).toggleClass('selected');    //toggle class for the rows selected
                    $(this).toggleClass('change');    //toggle class change color
                    // changeColor();

                    rowSelected = table.rows('.selected').data();    //Store all the data for selected rows'

                    $('#dataDisplay > thead > tr > th').each(function () {
                        thArray.push($(this).text())
                    })
                    // console.log(rowSelected);
                    for (let i = 0; i < rowSelected.length; i ++) {
                        // console.log("rowSelected[" + i + "][0]: " + rowSelected[i][0]);
                        transactionID.push(rowSelected[i][2]);
                        transactionpicturename.push(rowSelected[i][15]);
                        LayerNameStr.push(rowSelected[i][12]);
                        //console.log(transactionpicturename)
                    }
                });

                $("#showButton").on("click", function () {
                    table.clear();
                    table.draw();
                    //queryAndDisplay();
                    showStuff();
                    $(".clearForm input[type='text']").val('');
                    $(".filter").val('');
                    $(".date").val('');
                });

                $("#showAll").on("click", function () {
                    table.clear();
                    table.draw();
                    //queryAndDisplay();
                    queryAllDisplay();
                    $(".clearForm input[type='text']").val('');
                    $(".filter").val('');
                    $(".date").val('');
                });
            });

            function dropDown() {
                if (UserRole === "Admin") {
                    document.getElementById("userMenuAdmin").classList.toggle("show");
                } else if (UserRole === "Regular") {
                    document.getElementById("userMenuRegular").classList.toggle("show");
                }
            }
            window.onclick = function(event) {
                if (!event.target.matches('.dropbutton')) {
                    let dropdowns = document.getElementsByClassName("dropdown-content");
                    for (let i = 0; i < dropdowns.length; i++) {
                        let openDropdown = dropdowns[i];
                        if (openDropdown.classList.contains('show')) {
                            openDropdown.classList.remove('show');
                        }
                    }
                }
            }

            let queryAllDisplay = function (querystr) {
                $.ajax({
                    url: '/filterAllStation',
                    type: 'GET',
                    dataType: 'json',
                    async: true,
                    data: querystr,
                    success: function (resp) {
                        if (!resp[0].errMsg) {
                            //console.log(resp);
                            for (let i = 0; i < resp.length; i++) {
                                var values = Object.values(resp[i])
                                console.log(values);
                                table.row.add(values).draw(false);
                            }
                        } else {
                            alert(resp[0].errMsg);
                        }
                    }
                });
            }

            function downloadCSV(csv, filename) {
                let csvFile;
                let downloadLink;

                // CSV file
                csvFile = new Blob([csv], {type: "text/csv"});

                // Download link
                downloadLink = document.createElement("a");

                // File name
                downloadLink.download = filename;

                // Create a link to the file
                downloadLink.href = window.URL.createObjectURL(csvFile);

                // Hide download link
                downloadLink.style.display = "none";

                // Add the link to DOM
                document.body.appendChild(downloadLink);

                // Click download link
                downloadLink.click();
            }

            function exportTableToCSV() {
                let csv = [];
                // let table = document.querySelector('#trapDisplay');
                let rows = document.querySelector("#dataDisplay").querySelectorAll("tr");

                for (let i = 0; i < rows.length; i++) {
                    let row = [], cols = rows[i].querySelectorAll("td, th");

                    for (let j = 0; j < cols.length; j++)
                        row.push(cols[j].innerText);

                    csv.push(row.join(","));
                }

                // Download CSV file
                downloadCSV(csv.join("\n"), '<%= user.username %>.csv');

            }

            function showStuff(){
                $.ajax({
                    url: 'stationStuff',
                    type: 'GET',
                    dataType: 'json',
                    async: true,
                    success: function (resp) {
                        if (resp.length > 0) {
                            console.log(resp.length);
                            for (let i = 0; i < resp.length; i++) {
                                var values = Object.values(resp[i])
                                table.row.add(values).draw(false);
                            }
                        } else {
                            alert("There are no logs to be shown");
                        }
                    }
                });
            }
            function checkRows() {
                if (table.$('tr.selected').length === 1) {
                    console.log("go pro");
                    document.getElementById("editButton").disabled = false;
                    document.getElementById("editButton").style.color = "black";
                } else {
                    console.log("no bueno");
                    document.getElementById("editButton").disabled = true;
                    document.getElementById("editButton").style.color = "gray";
                }
            }

            function submitRows() {
                if (table.$('tr.selected').length === 1) {
                    var selectedRow = []
                    var data = table.$('tr.selected')[0];
                    for (i = 0; i < 14; i++) {
                        selectedRow.push($(data).find('td').eq(i).text());
                    }
                    console.log(selectedRow);
                    window.location.href = "/editStations?ID=" + selectedRow[0];
                }
            }

            document.getElementById("dataDisplay").addEventListener("click", checkRows);
            document.getElementById("editButton").addEventListener("click", submitRows);
            document.getElementById("buttontwo").addEventListener("click", exportTableToCSV);
            document.getElementById("Username").addEventListener("click", dropDown);
        }
    })

    function showFilter(){
        if(document.getElementById("from").value === '' || document.getElementById("to").value === '' || document.getElementById('firstName').value === '') {
            donTShowFilter();
        } else {
            document.getElementById("submitButton").disabled = false;
            document.getElementById("submitButton").hidden = false;
        }
    }
    function donTShowFilter() {
        document.getElementById("submitButton").disabled = true;
        document.getElementById("submitButton").hidden = true;
    }
</script>
</body>
</html>